*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
}

#info{
    display: flex;
}
.added{
    height: 239px;
    width: 287px;
}

.container h3,.container p{
    color: white;
}

@media only screen and (max-width: 600px){
.movies{
    width: 100%;
}
.added{
    width: 100%;
}
   i{
   
    color: black;
    position: absolute;
    top: 237px;
    left: 315px;
}
   }
}